### 1st class python

In [14]:
Print("Hello Neurons") ## Case sensitive print keyword starts from capital letter P due to this error generated

NameError: name 'Print' is not defined

In [15]:
print("Hello Neurons")

Hello Neurons

In [16]:
print("greetings from ineuron")

greetings from ineuron

In [17]:
print("greetings from ineuron") ## executed
print("good evening")

greetings from ineuron
good evening

#### possible error can get denerated
##1) Case sensitive error

In [18]:
Print("good evening")

NameError: name 'Print' is not defined

# possible error can get denerated
##2) EOL error - End of line error generated due to syantax not completed properly

In [19]:
print("good 
      evening")

SyntaxError: EOL while scanning string literal (907803879.py, line 1)

# solution to avoid the EOL error

In [20]:
print("""Good evening""")

Good evening

In [21]:
print("""Good
evening""") ## here using triple coat we resolved the error due to end of line not done as per syntax requirement

Good
evening

In [22]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.""")

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

# multiline comment

In [24]:
"""say
hi
to the
students"""
print('hi students')

hi students

# more exceptional case in print statement

In [25]:
print("Hi my name is 'avinash'")

Hi my name is 'avinash'

In [30]:
print("Hi my name is 'avinash'!") ## hi

Hi my name is 'avinash'!

In [31]:
print("Hi my name is "avinash"") ## for resolving error above methods can be used to print the name

SyntaxError: invalid syntax (4039486276.py, line 1)

# working as calculator

In [40]:
123 + 245 #Addition can be performed

368

In [41]:
123*245 #Multiplication can be done

30135

In [42]:
123/245 #division can be done

0.5020408163265306

In [43]:
123**2 #for using power anything need to use double  star before 2

15129

In [45]:
123***3 # cube is same as power but used wrong - here triple star used which is NG

SyntaxError: invalid syntax (873805555.py, line 1)

In [46]:
123**3 # cube is also same concept as used in square power

1860867

In [38]:
123**4

228886641

In [47]:
123%2 # Act as reminder - or required reminder by dividing 123 with 2 then can use % like this = called as module operator

1

In [49]:
(-123)**2 #power of -ve number

15129

123**(-2)

In [50]:
123**(-2) #-ve power calculation

6.609822195782933e-05

In [51]:
123**(-1)

0.008130081300813009

In [52]:
123**(1/2) # suqare root  can be find

11.090536506409418

In [53]:
123**(1/3) # cube root  can be find

4.97318983326859

In [54]:
print(123**4)

228886641

In [55]:
print(123**4)
print(Result)

228886641

NameError: name 'Result' is not defined

In [56]:
print(123**4)
print("Result")

228886641
Result

In [57]:
print("123**4")
print("Result")

123**4
Result

# Variables in Python

In [58]:
# alphabate carrying some values

In [59]:
x=10

In [60]:
print(x)

10

In [61]:
y=20

In [62]:
print(y)

20

In [63]:
print(x+y)

30

In [64]:
print(x/y)

0.5

In [65]:
print(x**y)

100000000000000000000

# convention for variable in python

In [66]:
##1) Variable name should start with alphabate
#2) variabe name should not contain any special character like ^ % $ ! @ # < > * ( ) etc.
#3) Variable name can contain numbers but can not start with numbers
#4) Variable can not start with capital letter but it will not get error as in python starting with capital number signifies class

##1) Variable name should start with alphabate

In [67]:
a=23

In [68]:
ten = 10

In [69]:
ten number =12 # space between varible name not allowed due to error generated

SyntaxError: invalid syntax (4236544117.py, line 1)

In [70]:
ten_number=12

In [71]:
tenNumber=13

In [72]:
a+ten+ten_number+tenNumber

58

#2) variabe name should not contain any special character like ^ % $ ! @ # < > * ( ) etc.

In [73]:
ten%number=20 # error generated due to use of % as special character

SyntaxError: cannot assign to operator (671081573.py, line 1)

#3) Variable name can contain numbers but can not start with numbers

In [74]:
ten10=1

In [75]:
print(ten10)

1

In [77]:
10ten=5 #number can not be in the start of variable assigning

SyntaxError: invalid syntax (1128323352.py, line 1)

In [87]:
_num=10 # Hidden varible :- which ever variable will start with the underscore symobol it will be termed as hidden variable = varible which you dont want user to see it.

In [84]:
print(_num)

10

#4) Variable can not start with capital letter but it will not get error as in python starting with capital number 
used for defining class due to this not recomended

In [88]:
Ten=10

In [89]:
print(Ten)

10

# Fundamental of data types

# 1. integers

In [90]:
a=10

In [91]:
type(a)

int

In [92]:
b=777777

In [93]:
type(b)

int

In [94]:
c=30
type(c)

int

# 2. Float:- numbers containing decimals

In [95]:
x=2.1

In [96]:
type(x)

float

In [103]:
y=2.0

In [1]:
ttype(y)

NameError: name 'y' is not defined

In [100]:
type(y)

TypeError: 'float' object is not callable

In [101]:
z=3.0

In [102]:
type(z)

TypeError: 'float' object is not callable

In [2]:
t=5.6

In [3]:
type(t)

float

In [4]:
p=5.0

In [5]:
type(p)

float

In [6]:
print(pi)

NameError: name 'pi' is not defined

In [7]:
pi=3.14

In [8]:
type(pi)
print(pi)

3.14

In [9]:
type(pi)

float

# 3. complex number :- Real number + Imagenary number (example:- 1 + 2j)

In [10]:
a = 2+3j

In [11]:
type(a)

complex

In [12]:
a.real

2.0

In [13]:
a.imagenary

AttributeError: 'complex' object has no attribute 'imagenary'

In [14]:
a.imag

3.0

# Dynamic Typing

In [17]:
a=22
print(type(a))
a=22.2
print(type(a)) #First code run and it assigned a=22 >> given a's data type as int >> a assigned for 22.2 >> given as data type float

<class 'int'>
<class 'float'>

In [18]:
print(a) #last stored value for a is 22 due to this 22 get printed

22.2

In [19]:
a=22
print(type(a))
a=22.2
print(type(a))
a="avinash"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [20]:
print(a)

avinash

# Strong typing in python

In [22]:
"day" + 1 #differnt data type can not do concatination process

TypeError: can only concatenate str (not "int") to str

In [24]:
"day" + "1" # converted 1 as stings data type now can be added

'day1'

In [25]:
22+22

44

In [26]:
"22" + "22"

'2222'

In [27]:
"avinash" + "jha"

'avinashjha'

In [29]:
22.2+1 #Mathematically possible due to this possible not giving error

23.2

In [30]:
a = 1 #int data type
b = 1.2 #float data type
c = "avinash" #string data type
d = 1+3j #complex data type
print((a), (b), (c), (d))

1 1.2 avinash (1+3j)

In [31]:
a = 1 #int data type
b = 1.2 #float data type
c = "avinash" #string data type
d = 1+3j #complex data type
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

In [32]:
a = 1 #int data type
b = 1.2 #float data type
c = "avinash" #string data type
d = 1+3j #complex data type
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [38]:
language = "java"
print("hi welcome to class of " +language+ " language")

hi welcome to class of java language

In [39]:
language = "javascript"
print("hi welcome to class of " +language+ " language")

hi welcome to class of javascript language

In [40]:
language = "python"
print("hi welcome to class of " +language+ " language") # Allowed but rarerly used

hi welcome to class of python language

In [41]:
language = "java"
print(f"hi welcome to class of {language} language") #current standard approach used in python

hi welcome to class of java language

In [42]:
language = "javascript"
print(f"hi welcome to class of {language} language")

hi welcome to class of javascript language

In [44]:
language = "javascript"
print("hi welcome to class of {} language".format(language)) #OLD WAY

hi welcome to class of javascript language

# f -->> Formatted string method

In [45]:
num = 'first'
language = "javascript"
print(f"today is the {num} to class of {language} language")

today is the first to class of javascript language

In [46]:
num = 'first'
language = "javascript"
print(f"today is the {} to class of {} language".format(num, language))

SyntaxError: f-string: empty expression not allowed (63642384.py, line 3)

In [47]:
num = 'first'
language = "javascript"
print("today is the {} to class of {} language".format(num, language))

today is the first to class of javascript language

In [48]:
a = 22
b = 34
c = a + b
print(f"the result sum of two nums a: {a} and b: {b} is c = {c}")

the result sum of two nums a: 22 and b: 34 is c = 56

# 4. Boolean data type

In [1]:
a = true
b = false
print(type(one))
print(type(two))

NameError: name 'true' is not defined

In [2]:
a = true
b = false

NameError: name 'true' is not defined

In [3]:
a = true

NameError: name 'true' is not defined

In [4]:
one = true

NameError: name 'true' is not defined

In [5]:
one = ture

NameError: name 'ture' is not defined

In [7]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [8]:
class_starts_at = 15
you_came_at = 16
you_understood_all_the_concepts = you_came_at < class_starts_at

print(f"you understood every thing? : {you_understood_all_the_concepts}")

you understood every thing? : False

In [9]:
class_starts_at = 15
you_came_at = 14
you_understood_all_the_concepts = you_came_at < class_starts_at

print(f"you understood every thing? : {you_understood_all_the_concepts}")

you understood every thing? : True

In [10]:
class_starts_at = 15
you_came_at = 15
you_understood_all_the_concepts = you_came_at < class_starts_at

print(f"you understood every thing? : {you_understood_all_the_concepts}")

you understood every thing? : False

In [11]:
class_starts_at = 15
you_came_at = 15
you_understood_all_the_concepts = you_came_at <= class_starts_at

print(f"you understood every thing? : {you_understood_all_the_concepts}")

you understood every thing? : True